<!DOCTYPE html>
<html lang="en">
<head>

  <!--HEADER INCLUDE-->

  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">

  <title>Week 10 - Programming for Journalists</title>

  <meta name="author" content="Meghan Louttit">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link rel="stylesheet" href="../../js/reveal/css/reveal.min.css">
  <link rel="stylesheet" href="../../js/reveal/css/theme/night.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="../../js/reveal/lib/css/zenburn.css">

  <style type="text/css">
  #backTo{ 
    margin:0 20px; 
    font-family: sans-serif;
    font-size: 13px;
  }
  #backTo p,
  #backTo p a{ 
    color: #efefef; 
    text-decoration:none;
    padding:3px 5px;
  }
  #backTo p a:hover,
  #backTo p a.current{
    background:#efefef;
    color:#333;
  }
  .code{ color:#fff;font-family: monospace!important; }
  </style>

  <script>
    document.write( '<link rel="stylesheet" href="../../js/reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

</head>
<body>
  <div id="backTo"></div>
  <div class="reveal">
    <div class="slides">

<!--set week number-->
<script type="text/javascript">
  currentWeek = 10;
</script>
			<section>
				<h2>Week 10 | April 11, 2016</h2>
				<h4>Templating</h4>
			</section>
      <section>
        <h2>Lesson Prep</h2>
        <ul>
          <li>Open: Class Website, Week 10</li>
          <li>Open your website in sublime</li>
          <li>Open the <span class="code">template-practice</span> repository <a href="https://github.com/melouttit/template-practice">from my GitHub page</a>.</li>
        </ul>
      </section>
      <section>
        <h2>Git Lab: <span class="code">branch</span> and <span class="code">pull</span></h2>
        <p>Create a pull request for your final method presentation file to be submitted to the final repo.</p>
      </section>
      <section>
        <section>
          <h2>Templating - WHY?</h2>
        </section>
        <section>
          <p>When building applications or pages the problem will quickly arise where you will need to format part of your page's HTML in your JavaScript files</p>
        </section>
        <section>
          <p>Templating libraries allow you to quickly create your own templates in your code and on-the-fly to render bulks of data quickly.</p>
        </section>
        <section>
          <h3>Rule of Thumb</h3>
          <p>If you find yourself writing a few lines of JavaScript soley to form HTML blocks for your page, you might want to utilize a templating library.</p>
        </section>
        <section>
          <h3>Options</h3>
          <p>A search will yield a handful -but a good place to start is either <a href="http://underscorejs.org/">Underscore</a> or <a href="http://handlebarsjs.com/">Handlebars (Mustache)</a>.</p>
        </section>
      </section>
      <section>
        <section>
          <h2>For Example</h2>
          <p>Say we are researching police incidents caught on tape by body cams and are pulling together a dataset based on the information we find. <a href="https://docs.google.com/spreadsheets/d/1orrt5JXOt-o57krcESMky0CbHa-r3Bpi_ZTc-QvwcMA/edit?usp=sharing">It might look something like this</a> (Note: This data is made up and should not be published! For example only)</p>
        </section>
        <section>
          <h3>Convert to JSON</h3>
          <p>You could write out in JSON initially but sometimes a program like Excel is better for pulling information together. Once you're finished, you can convert to JSON using an online program like <a href="https://shancarter.github.io/mr-data-converter/">Mr. Data Converter</a>.</p>
          <p>* <a href="https://github.com/melouttit/template-practice/blob/master/js/incidents.js">Result</a> *</p>
        </section>
      </section>
      <section>
        <section>
          <h2>Underscore</h2>
          <p>We are going to go over <a href="http://underscorejs.org/">Underscore</a>, partly because it is a good library to know in general and because it has many useful methods for parsing data.</p>
        </section>
        <section>
          <p><strong>To use</strong>, download the library or find a hosted version to include on your page. For our purposes today we are using a version hosted by <a href="https://cdnjs.com/">cdnjs</a>.</p>
        </section>
        <section>
          <h3>Syntax</h3>
          <ul>
            <li>Run a method: <span class="code">_.<em>methodName</em>(<em>params</em>);</span></li>
            <li>Define template: <span class="code"><%= object %></span></li>
            <li>Write JavaScript in a template: <span class="code"><% <em>Your Code Here</em> %></li>
          </ul>
          <p>
        </section>
        <section>
          <p><strong>Underscore</strong> has many very useful methods. We will use a few in our example, but make sure to look at the documentation for the full breadth of the library.</p>
        </section>
      </section>
      <section>
        <section>
          <h2>Exercise</h2>
          <p>Using the files from <span class="code"><a href="https://github.com/melouttit/template-practice">template-practice</a></span> as a base, let's write a small application that will run through your body cam data and display it on the page.</p>
        </section>
      </section>
      <section>
        <h2>Method Presentations Part 2</h2>
        <ul>
          <li>As each student presents their method to the class. You can follow along as necessary for your own practice.</li>
          <li>Once you've presented, make sure your final presentation page is prepared to add to the <a href="https://github.com/melouttit/method-presentations">method-presentations repo</a>.</li>
          <li>Follow the <span class="code">git pull</span> lab to complete a request to add your method assignment to the repo.</li>
        </ul>
      </section>
      <section>
        <section>
          <h2>Assignments</h2>
        </section>
        <section>
          <h3>Reading</h3>
          <ul>
            <li>Read Chapter 12 in Javascript&JQuery</li>
            <li>Dive Into HTML5: 
              <ul>
                <li><a href="http://diveintohtml5.info/semantics.html#new-elements">New Semantic Elements</a> to the end of that chapter.</li>
                <li><a href="">Video:</a> Read the intros Diving In and Video Containers, then you can skip down to the <a href="http://diveintohtml5.info/video.html#markup">Markup</a> section.</li>
                <li>Extra: <a href="http://diveintohtml5.info/canvas.html">The Canvas Element for Drawing</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <section>
          <h3>Practice</h3> 
          <p>Do Codecademy's <a href="https://www.codecademy.com/courses/javascript-beginner-en-Bthev-mskY8/0/1">Game exercise</a> to build a "Rock, Paper, Scissors" application to continue practicing writing JavaScript.</p>
        </section>
      </section>
		</div>
	</div>

<script src="../../js/reveal/lib/js/head.min.js"></script>
<script src="../../js/reveal/js/reveal.min.js"></script>
<script type="text/javascript">
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: '../../js/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: '../../js/reveal/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../../js/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../../js/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: '../../js/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: '../../js/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
  });
</script>
<script type="text/javascript" src="../../js/lessonHeader.js"></script>
</body>
</html>
